---
name: screenshots ci actions
on:
  push:
    branches:
      - main

jobs:
  screenshots:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Setup Node.js (.nvmrc)
        uses: actions/setup-node@v6.1.0
        with:
          node-version-file: '.nvmrc'

      # run the ci equivalent of npm install
      - name: npm ci
        run: |
          npm ci
          npm run dist
          npx http-server -p 8080 docs/.vuepress/dist > /dev/null 2>&1 &
          ./node_modules/.bin/wait-on -v -t 10s http://127.0.0.1:8080
 
      - uses: cypress-io/github-action@v6
      - uses: actions/upload-artifact@v5
        if: failure()
        with:
          name: cypress-screenshots
          path: cypress/screenshots

      - uses: actions/upload-artifact@v5
        if: always()
        with:
          name: cypress-videos
          path: cypress/videos
